{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mediterranean Woods</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static "css/business-casual.css" %}" rel="stylesheet">
</head>

<body style="background: url({% static "img/bg.jpg" %}) no-repeat center center fixed; ">

    <div class="brand">Mediterranean Woods</div>
    <div class="address-bar">Matar&oacute;, Barcelona</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">{% trans 'Inicio' %}</a>
                    </li>
                    <li><a href="/brezo">{% trans 'Brezo' %}</a>
                    </li>
                    <li><a href="/contacto">{% trans 'Contacto' %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        {% block body %}
        {% endblock %}

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script>
    // Activates the Carousel
    $('.carousel').carousel({
        interval: 3000
    })
    </script>

    <script src="{% static "js/jquery.easing.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/scrolling-nav.js" %}></script>

</body>

</html>
