{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Madera de brezo
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="{% static "img/intro-pic.jpg" %}" alt="">
                    <hr class="visible-xs">

                    <p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>El brezo<span style="mso-spacerun:yes">&nbsp;
</span>Erika Arbórea crece en lugares de la zona<span
style="mso-spacerun:yes">&nbsp; </span>Mediterránea. En un clima que alterna
inviernos fríos y lluviosos con veranos calurosos, secos y días con fuertes
vientos. Pero no todos los individuos desarrollan raíces suficientemente
abultadas para generar buenas maderas para la industria de la pipería. Sólo
algunos elementos en suelos pedregosos, duros e infértiles<span
style="mso-spacerun:yes">&nbsp; </span>ofrecen este ensanche particular de la
base que emerge unos centímetros del suelo, y casi siempre están encarados a
Levante/Poniente. Generalmente, solo desarrollan una o máxime<span
style="mso-spacerun:yes">&nbsp; </span>dos ramas.<span
style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(Foto.1.)<span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'><span style="mso-spacerun:yes">&nbsp;</span><span
style="mso-spacerun:yes">&nbsp;</span></span><span style='mso-ansi-language:
EN-US;mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
 coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
 filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0030__x0020_Imagen" o:spid="_x0000_i1027" type="#_x0000_t75"
 alt="Description: PB210119.JPG" style='width:425pt;height:319pt;visibility:visible;
 mso-wrap-style:square'>
 <v:imagedata src="{% static "img/brezo_files/image001.jpg" %}" o:title="PB210119.JPG"/>
</v:shape><![endif]--><![if !vml]><img width=427 height=321
src="{% static "img/brezo_files/image002.gif" %}" alt="Description: PB210119.JPG" v:shapes="_x0030__x0020_Imagen"><![endif]></span><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>La planta lucha para sobrevivir
en este medio tan hostil. Debe acaparar la poca humedad que hay alrededor, y,
debido a esta lucha, crece muy lentamente, desarrollando unos capilares muy
finos por los que incorpora y mantiene la poca agua que encuentran las raíces.
Estos capilares es lo que llamamos BETEADO (o GRAIN) en el acabado de una pipa,
beta recta (<span class=SpellE>straight</span> <span class=SpellE>grain</span>),
ojo de perdiz (<span class=SpellE>birds</span> <span class=SpellE>eye</span>)…<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>En NINGUN CASO encontraremos brezo Erika
Arbórea que desarrolle buenas cepas <span
style="mso-spacerun:yes">&nbsp;</span>encarado al Noroeste y, por tanto, suelo
más fértil y blando, donde lo encontraremos con multitud de ramas, ni tampoco,
en lugares donde se haya efectuado una limpieza de bosque y haya sido cortado
de raíz, o se haya producido un incendio. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Como sea , que,<span
style="mso-spacerun:yes">&nbsp; </span>a la gente de campo que recolecta estas
raíces, los intermediarios o los cortadores le pagan una miseria, a cambio,
éstos desentierran cualquier cepa en la que se advierta un pequeño
abultamiento.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>En el mercado, dependiendo de la zona de
donde proviene el brezo puede ser venerado, detestado, o recibe comentarios
mixtos. Al <span style="mso-spacerun:yes">&nbsp;</span>brezo de Francia y
España se le ve inferior al de Córcega que es más valorado. Pues mi padre
siempre lo vendió a los italianos, J.P Soler,<span
style="mso-spacerun:yes">&nbsp; </span>que yo sepa, también, y no creo que
estos al venderlo dijeran que era español…<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Resumiendo: parece razonable asumir que es
mucho más importante conocer bajo qué condiciones se desarrolló, que en qué
país se recolectó. La calidad viene determinada por el clima y la condición del
suelo. Si esas circunstancias son las adecuadas, la cepa crecerá debidamente<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='mso-ansi-language:
EN-US;mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="_x0031__x0020_Imagen"
 o:spid="_x0000_i1026" type="#_x0000_t75" alt="Description: soca 1 001.jpg"
 style='width:423pt;height:274pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="{% static "img/brezo_files/image003.jpg" %}" o:title="soca 1 001.jpg"/>
</v:shape><![endif]--><![if !vml]><img width=425 height=276
src="{% static "img/brezo_files/image004.gif" %}" alt="Description: soca 1 001.jpg" v:shapes="_x0031__x0020_Imagen"><![endif]></span><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Muestra de una cepa abierta por la mitad:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>El centro no tiene veteado, y, es de un color
tirando a rojizo. Los capilares de alrededor, dependiendo de la muestra de
crecimiento de la cepa y de cómo se partió, pueden tener<span
style="mso-spacerun:yes">&nbsp; </span>beta recta, horizontal, flama, mixta…<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Motas e imperfecciones en la madera.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Cualquier artesano o fabricante de pipas
sabrá lo difícil que es encontrar un escalaborne sin motas, limpia
completamente. Pues bien cada primavera con el buen tiempo, temperaturas
moderadas y lluvia, aparecen en las zonas de crecimiento de la cepa unos brotes
de diminutas ramas, que más tarde con los meses de sequia desaparecen, pero han
profundizado en la madera, y, al morir han dejado su huella: las motas (spots).Ver
foto 1. Olvídense Vds. de que esto haya sido debido a “insectos” como cuentan
literatos fantasiosos. Lo que sí es fácil de hallar algún guijarro que ha sido
aglomerado bajo presión al crecer en situaciones muy estrechas.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Tratamiento.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Tan pronto se extrae la cepa del suelo, debe
protegerse del viento y del sol, procurando que mantenga la humedad. De no ser
así experimentará severas roturas en su interior. Por dicha<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Razón, el almacén de cepas del cortador
siempre es un lugar lúgubre y sombrío, con abundante humedad, al tener que
rociarlas con agua diariamente.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Proceso de corte.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Se limpian las raíces, tierra,<span
style="mso-spacerun:yes">&nbsp; </span>piedras…se cortan por la mitad para
observar que nos ofrece el interior…y, con unas sierras circulares adecuadas y,
el buen ojo y criterio del cortador, se obtienen<span
style="mso-spacerun:yes">&nbsp; </span>placas (<span class=SpellE>plateaux</span>)
de la parte más veteada y cercana a la corteza rugosa, y <span class=SpellE>escalobornes</span>,
tacos, <span class=SpellE>carrads</span> (<span class=SpellE>ebauchons</span>)
de la parte interior, llegando a incorporar parte de la madera de la rama y la
raíz, que es bastante lisa.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='mso-ansi-language:
EN-US;mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="_x0032__x0020_Imagen"
 o:spid="_x0000_i1025" type="#_x0000_t75" alt="Description: P8280020.JPG"
 style='width:425pt;height:319pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="{% static "img/brezo_files/image005.jpg" %}" o:title="P8280020.JPG"/>
</v:shape><![endif]--><![if !vml]><img width=427 height=321
src="{% static "img/brezo_files/image006.gif"%}" alt="Description: P8280020.JPG" v:shapes="_x0032__x0020_Imagen"><![endif]></span><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Seguidamente, deberán hervir en agua durante
veinticuatro horas, para extraerles los aceites, impurezas, taninos…sabia… Al
término de esta operación, sin demora, depositarlas en un lugar sin corrientes
de aire, y mejor taparlas con serrín y mantas para que “CUREN”, al menos
durante un año. Pasado este tiempo se puede ir abriendo el local donde se
hallan y destaparlas para que vayan secando. Normalmente, han de pasar todavía
un par de años para poder trabajar la madera en condiciones. Y, a partir de
aquí, cuanto más tiempo estén secándose mejor.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>A principios del siglo pasado las firmas más
emergentes del mundo de la pipa compraban grandes partidas de madera para
almacenar. Por ejemplo, vemos lo valoradas que son las pipas <span
class=SpellE>Barling</span> anteriores a 1962, que estaban fabricadas a partir
de almacenaje de cincuenta años atrás.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Pero, como sea que, el tiempo es dinero, lo
que impera es “el secado controlado”, mediante instalaciones adecuadas. Al
cabo, un porcentaje cercano al 25/30% de las maderas tratadas con este sistema
aparecen con fisuras visibles y son descartadas. Pero la madera también puede
estar dañada en su interior, aunque esto se detecta en el momento de dar forma
a la pipa. Llegado este momento se <span class=SpellE>masillan</span> o son
tratadas con chorro de<span style="mso-spacerun:yes">&nbsp; </span>arena para
disimular estas taras. Algunos de los trabajos que se realizan con chorro de
arena alcanzan una gran belleza, pero no es necesario utilizar maderas de gran
calidad.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Y ahora la pregunta: ¿Teniendo en cuenta la
cantidad de bocetos de pipa con defectos que generaba la industria <span
class=SpellE>piperil</span>, que final tenían?. Bueno, ¿<span class=SpellE>tenian</span>
motas o roturas exteriores que no afectaban al interior del hornillo?.Pues,
masilla y barniz…chorro de arena…comercializadas por segundas marcas…<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Ejemplo:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span class=SpellE><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Barling</span></span><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>:<span
style="mso-spacerun:yes">&nbsp; </span>Michel<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span class=SpellE><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>Dunhill</span></span><span
lang=ES-TRAD style='mso-ansi-language:ES-TRAD'>: Parker, <span class=SpellE>Harcastle</span>,
<span class=SpellE>Savory´s</span> <span class=SpellE>Argylle</span>.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=ES-TRAD
style='mso-ansi-language:ES-TRAD'>Peterson: <span class=SpellE>Irish</span> <span
class=SpellE>Seconds</span>, <span class=SpellE>Shamrock</span>, <span
class=SpellE>Erica</span>, <span class=SpellE>Captain</span> <span
class=SpellE>Pete´s</span>, <span class=SpellE>Kinsell</span>.<o:p></o:p></span></p>

                </div>
            </div>
        </div>
{% endblock %}